Source/JourneyTracker/bin/
Libs/little-fluffy-location-library/gen/
Libs/little-fluffy-location-library/bin/
Libs/google-play-services_lib/bin/
Libs/appcompat_v7/bin/res/crunch/drawable-xxhdpi/abc_textfield_search_selected_holo_light.9.png
Libs/appcompat_v7/bin/
